/* ------------------------ HTML/HEADER/TITLE/NAV BAR ------------------------------- */
* {
    font-family: 'Titillium Web';
    text-decoration: none;
}

html {
    background: linear-gradient(to right, #870000, #190a05);
}

body {
    margin: 0% 1px 0% 1px;
    zoom: 150%;
}

.header {
    background-color: white;
    font-variant-caps: all-small-caps;
}

#title {
    text-align: center;
    font-family: 'Racing Sans One';
    margin: 0%;
    color: red;
    font-size: 50px;
}



.navBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: max-content;
    padding: 0%;
    background-color: red;
    margin: 0%;
    cursor: pointer;
}

.navBar > div {
    width: -webkit-fill-available;
    text-align: center;
    white-space: nowrap;
    color: red
}

.navBar > div:hover {
    background-color: darkred
}

.navBar > div > a {
    color: white
}

h3 {
    text-align: center;
    font-variant-caps: all-small-caps;
    font-size: 40px;
    margin: 0%;
    color: white;
}

.blogNav {
    background-color: white;
    text-align: center;
    padding: 0%;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 5%;
    cursor: pointer;
}

#createPostBtn {
    width: -webkit-fill-available;
    text-align: center;
    white-space: nowrap;
}
#createPostBtn:hover {
    background-color: red;
}

#edit-confirmation {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.edit-confirm {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#delete-confirmation {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.delete-confirm {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#create-post-mod {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



#create-post-mod > div {
    background-color: white;
    font: bold;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#create-post-mod > form {
    display: grid;
    background-color: rgba(248, 248, 248, 0.603);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#create-post-mod > form > textarea {
    resize: none;
    height: 150px
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-bottom: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 2.0s;
    animation-name: animatetop;
    animation-duration: 2.0s
}

.post > div {
    background-color: red;
    border-radius: 7px 7px 0px 0px;
    padding-left: 1%;
}

#post-title {
    margin: 0%;
    padding-left: 1%;
}

#post-body {
    margin: 0%;
    padding-left: 1%;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



