/* ------------------------ HTML/HEADER/TITLE/NAV BAR ------------------------------- */
* {
    font-family: 'Titillium Web';
    text-decoration: none;
}

html {
    background: linear-gradient(to right, #870000, #190a05);
}

body {
    margin: 0% 1px 0% 1px;
    zoom: 150%;
}

.header {
    background-color: white;
    font-variant-caps: all-small-caps;
}

#title {
    text-align: center;
    font-family: 'Racing Sans One';
    margin: 0%;
    color: red;
    font-size: 50px;
}

.navBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: max-content;
    padding: 0%;
    background-color: red;
    margin: 0%;
    cursor: pointer;
}

.navBar > div {
    width: -webkit-fill-available;
    text-align: center;
    white-space: nowrap;
    color: red
}

.navBar > div:hover {
    background-color: darkred
}

.navBar > div > a {
    color: white
}

#blogTitle {
    font-family: 'Racing Sans One';
    letter-spacing: 2px;
    text-shadow: -2px 1px 0px red;
    text-align: center;
    font-variant-caps: all-small-caps;
    font-size: 40px;
    margin: 0%;
    color: white;
}

.blogNav {
    display: flex;
    background-color: white;
    text-align: center;
    padding: 0%;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 5%;
    cursor: pointer;
    justify-content: space-evenly;
}

#createPostBtn {
    text-align: center;
    width: -webkit-fill-available;
    font-size: 15px;
}
#createPostBtn:hover {
    background-color: red;
}

#getRandomPost {
    text-align: center;
    width: -webkit-fill-available;
    font-size: 15px;
}
#getRandomPost:hover {
    background-color: red;
}

#returnToMain {
    text-align: center;
    width: -webkit-fill-available;
    font-size: 15px;
}
#returnToMain:hover {
    background-color: red;
}

#edit-confirmation {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.edit-confirm {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#delete-confirmation {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.delete-confirm {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#create-post-mod {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-align: -webkit-center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-post-mod > div {
    background-color: white;
    font: bold;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#create-post-mod > form {
    display: grid;
    background-color: rgba(248, 248, 248, 0.603);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-bottom: 0%;
}

#create-post-mod > form > textarea {
    resize: none;
    height: 150px
}

.post {
    display: flex;
    position: relative;
	background: #ffffff;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-bottom: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.5s;
    animation-name: animatetop;
    animation-duration: 1.5s;
    box-shadow: -5px 4px 4px 2px;
}

.post:after {
	content: '';
	position: absolute;
	left: 0;
	top: 65%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -11px;
	margin-left: -22px;
}

.post > #postInfo {
    background-color: red;
    border-radius: 7px 7px 0px 0px;
    padding-left: 1%;
    padding-right: 1%;
}

#post-title {
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
}

#post-body {
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
}

.editBtns {
    background-color: red;
    border-radius: 0px 0px 10px 10px;
}

.openEdit {
    float: right;
    background: none;
    border: none;
}

#submitEditBtn, #deletePostBtn, #cancelEditBtn {
    display: none;
    font-size: 10px;
    float: right;
    background-color: red;
    border: solid red 1px;
}

#submitEditBtn:hover, #deletePostBtn:hover, #cancelEditBtn:hover {
    background-color: darkred;
    cursor: pointer;
}

#cancelEditBtn {
    border-bottom-right-radius: 7px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 2.5rem;
}

footer > p {
    text-align: center;
    margin: 0%;
    padding: 0%
}

footer > a {
    color: black
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}


