/* ------------------------ HTML/HEADER/TITLE/NAV BAR ------------------------------- */
* {
    font-family: 'Titillium Web';
    text-decoration: none;
}

html {
    background: linear-gradient(to right, #870000, #190a05);
}

body {
    margin: 0% 1px 0% 1px;
    zoom: 150%;
}

.header {
    background-color: white;
    font-variant-caps: all-small-caps;
}

#title {
    text-align: center;
    font-family: 'Racing Sans One';
    margin: 0%;
    color: red;
    font-size: 50px;
}



.navBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: max-content;
    padding: 0%;
    background-color: red;
    margin: 0%
}

.navBar > div {
    width: -webkit-fill-available;
    text-align: center;
    white-space: nowrap;
    color: red
}

.navBar > div:hover {
    background-color: darkred
}

.navBar > div > a {
    color: white
}

.createUser {
    display: none
}

.createPostBox {
    display: none
}